.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
}

.dashboard p {
  color: #aaa;
  margin-bottom: 1em;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}

.noposts a {
  padding: 10px 25px;
}

.post_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  width: 80%;
  padding: 10px;
}

.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 80%;
  padding: 10px;
}

.post_row p {
  color: #000;
}

.post_row button,
.post_row a {
  margin: 0 5px;
  height: 30px;
  width: 100px;
}

.link_visualize_item {
  color: #000;
  text-decoration: none;
  font-size: 0.7em;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 8px;
  transition: background-color 0.9s;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.button_success {
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.9s;
  font-size: 0.7em;
  border-radius: 8px;

  &:hover {
    opacity: 0.6;
  }
}

.button_danger {
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.9s;
  font-size: 0.7em;
  border-radius: 8px;

  &:hover {
    opacity: 0.6;
  }
}
